In [2]:
    import pandas as pd

In [3]:
df = pd.concat(pd.read_excel("E:\ScopeAnalytica\skeleton\data\DATA.xlsx",sheet_name=None),ignore_index = True)
null_columns = []
all_columns = df.columns

for col in all_columns:
    temp_list = df[col].unique()
    if(len(temp_list) <= 1):
        null_columns.append(col)

# print(null_columns) 
df_old = df
df.drop(null_columns , axis = 1 , inplace = True)
'''
The above list of null columns has thelits of columsn to be dropped of, assuming might 
not be of great use for current analysis. Still will be executed while confirming.

'''

'\nThe above list of null columns has thelits of columsn to be dropped of, assuming might \nnot be of great use for current analysis. Still will be executed while confirming.\n\n'

In [4]:

print(df.head())
print(df.columns)

    S2Saleid  S2Genid  S2BillNo  S2ComBillNo S2BillDate           S2BillTime  \
0  180519011        1         1            1 2019-05-18  2019-05-18 15:15:00
1  180519012        2         2            2 2019-05-18  2019-05-18 15:38:00
2  180519013        3         3            3 2019-05-18  2019-05-18 15:47:00
3  180519014        4         4            4 2019-05-18  2019-05-18 16:21:00
4  180519014        4         4            4 2019-05-18  2019-05-18 16:21:00

   S2BillMinute  S2UserID   S2CashNo  S2Name  ...  S2BillDiscAmt  S2Reduction  \
0           915         2  180519011     NaN  ...            0.0            0
1           938         0  180519012     NaN  ...            0.0            2
2           947         0  180519013     NaN  ...            0.0            0
3           981         2  180519014     NaN  ...            0.0            0
4           981         2  180519014     NaN  ...            0.0            0

   S2RoundOff  S2PGTotal  S2Sno  S2Proid  S2PName  S2Rate  S2OrgRate  \
0         0.0       20.0      1        1     IDLY    20.0       20.0
1         0.0       50.0      1        2     DOSA    26.0       26.0
2         0.0       52.0      1        2     DOSA    26.0       26.0
3         0.0       15.0      1        1     IDLY    15.0       15.0
4         0.0       26.0      2        2     DOSA    26.0       26.0

   S2CashType
0        CASH
1        CASH
2        CASH
3        CASH
4        CASH

[5 rows x 30 columns]
Index(['S2Saleid', 'S2Genid', 'S2BillNo', 'S2ComBillNo', 'S2BillDate',
       'S2BillTime', 'S2BillMinute', 'S2UserID', 'S2CashNo', 'S2Name',
       'S2Complementary', 'S2Qty', 'S2TotalQty', 'S2PAmount', 'S2TaxPer',
       'S2Tax', 'S2VatPer', 'S2Vat', 'S2ProTVDAmt', 'S2BillDiscPer',
       'S2BillDiscAmt', 'S2Reduction', 'S2RoundOff', 'S2PGTotal', 'S2Sno',
       'S2Proid', 'S2PName', 'S2Rate', 'S2OrgRate', 'S2CashType'],
      dtype='object')

In [5]:
''' Read unique itel list from colums S2PName put it into a list and write to a excel and later map it to correct value/ categories'''

items = df['S2PName'].unique()

In [11]:
#type(items)
#mappingDf = pd.DataFrame(items)
#mappingDf.to_excel('E:\ScopeAnalytica\skeleton\data\itemMappingData.xlsx', header=True, index=False)

'''Already executed and sheet created , hence shld not be executed again'''

In [18]:

'''Below code Maps the food and its category to the main dataframe'''

df_map = pd.read_excel('E:\ScopeAnalytica\skeleton\data\itemMappingData.xlsx')
df['S2PName-Category'] = df['S2PName'].map(df_map.set_index('S2PName')['S2PName-Category'])
df[['S2PName','S2PName-Category']].head(50)
df[['S2PName','S2PName-Category']].tail(50)

                  S2PName S2PName-Category
234503                TEA        Beverages
234504                TEA        Beverages
234505                TEA        Beverages
234506             SAMOSA           Snacks
234507  WATER BOTTLE - 20              OOB
234508               VADA           Snacks
234509             COFFEE        Beverages
234510     GHEE PODI DOSA             Food
234511               DOSA             Food
234512              POORI             Food
234513                TEA        Beverages
234514               DOSA             Food
234515             COFFEE        Beverages
234516               DOSA             Food
234517               VADA           Snacks
234518               IDLY             Food
234519               DOSA             Food
234520               IDLY             Food
234521               DOSA             Food
234522              POORI             Food
234523                TEA        Beverages
234524             COFFEE        Beverages
234525             SAMOSA           Snacks
234526  WATER BOTTLE - 20              OOB
234527                TEA        Beverages
234528          PODI DOSA             Food
234529               VADA           Snacks
234530          GHEE DOSA             Food
234531              BOOST        Beverages
234532          GHEE DOSA             Food
234533             COFFEE        Beverages
234534             SAMOSA           Snacks
234535             COFFEE        Beverages
234536               DOSA             Food
234537         MAAZA MINI        Beverages
234538             SAMOSA           Snacks
234539               IDLY             Food
234540             COFFEE        Beverages
234541         MAAZA MINI        Beverages
234542       VENNILA CONE         IceCream
234543             COFFEE        Beverages
234544             COFFEE        Beverages
234545  POMEGRANATE JUICE            Juice
234546             COFFEE        Beverages
234547             SAMOSA           Snacks
234548             SAMOSA           Snacks
234549               IDLY             Food
234550          GHEE DOSA             Food
234551          PODI DOSA             Food
234552                TEA        Beverages

In [19]:
df['S2PName-Category'].value_counts()

Food         140692
Beverages     43466
Snacks        22069
Others        18412
Juice          5363
OOB            3326
IceCream        896
Check           321
Name: S2PName-Category, dtype: int64

In [100]:
df['S2PName'].value_counts().head(30)

IDLY                  19749
COFFEE                17059
PARCEL                16548
DOSA                  14611
CHAPPATHI             12709
TEA                   12313
IDLY 4 PARCEL         11332
VADA                  10764
MEALS                  9431
IDLY 3 PARCEL          6611
IDLY 2 PARCEL          6566
SAMOSA                 6554
PARCEL MEALS           5478
POORI                  5217
DOSA PARCEL            3255
PONGAL                 3065
VEG BIRIYANI           2888
HOT WATER              2757
SAMBAR RICE            2689
CHAPPATHI PARCEL       2622
CURD RICE              2594
IDLY 5 PARCEL          2427
MILK                   2337
SAMBAR RICE PARCEL     2276
MAAZA MINI             2208
POMEGRANATE JUICE      2029
POORI PARCEL           1965
VEG FRIED RICE         1921
CURD RICE PARCEL       1836
PONGAL PARCEL          1790
Name: S2PName, dtype: int64

In [91]:
#Data frame filtered with parcel items alone
df_with_parcel = df[df['S2PName'].str.contains('PARCEL' , na=False)]
df_with_parcel['S2PName'].value_counts()

PARCEL                16548
IDLY 4 PARCEL         11332
IDLY 3 PARCEL          6611
IDLY 2 PARCEL          6566
PARCEL MEALS           5478
DOSA PARCEL            3255
CHAPPATHI PARCEL       2622
IDLY 5 PARCEL          2427
SAMBAR RICE PARCEL     2276
POORI PARCEL           1965
CURD RICE PARCEL       1836
PONGAL PARCEL          1790
IDLY 6 PARCEL          1774
TOMATO PARCEL           608
PARCEL COFFEE           574
PARCEL TEA              369
PARCEL MILK             235
Name: S2PName, dtype: int64

In [86]:
#Filter data frame with parcel idlies , this included parcel with 2 3 4 etc indlies
df_with_parcel_idly = df_with_parcel[df_with_parcel['S2PName'].str.contains('IDLY')]

df_with_parcel_idly['S2PName'].value_counts()

IDLY 4 PARCEL    11332
IDLY 3 PARCEL     6611
IDLY 2 PARCEL     6566
IDLY 5 PARCEL     2427
IDLY 6 PARCEL     1774
Name: S2PName, dtype: int64

In [82]:
#below code retuns total number of idly parcels so far
df_with_parcel_idly['S2PName'].str.contains('IDLY').value_counts()[True]

28710

In [101]:
#Data frame filtered with parcel items alone
df_with_dosa = df[df['S2PName'].str.contains('DOSA' , na=False)]
df_with_dosa['S2PName'].value_counts()

DOSA                    14611
DOSA PARCEL              3255
MASALA DOSAI             1345
GHEE DOSA                1112
PODI DOSA                 920
ONION DOSAI               604
PODI ONION DOSAI          166
RAVA DOSA                 115
GHEE PODI DOSA             57
PAPER DOSA                 42
GHEE ONION PODI DOSA       33
CHEESE MASALA DOSA         14
PANEER MASALA DOSA         14
MYSORE MASALA DOSA         13
GHEE DOSAI                  6
Name: S2PName, dtype: int64

In [102]:
df.shape

(234553, 30)

In [104]:
df.dtypes

S2Saleid                    int64
S2Genid                     int64
S2BillNo                    int64
S2ComBillNo                 int64
S2BillDate         datetime64[ns]
S2BillTime         datetime64[ns]
S2BillMinute                int64
S2UserID                    int64
S2CashNo                    int64
S2Name                    float64
S2Complementary             int64
S2Qty                     float64
S2TotalQty                float64
S2PAmount                 float64
S2TaxPer                  float64
S2Tax                     float64
S2VatPer                  float64
S2Vat                     float64
S2ProTVDAmt               float64
S2BillDiscPer             float64
S2BillDiscAmt             float64
S2Reduction                 int64
S2RoundOff                float64
S2PGTotal                 float64
S2Sno                       int64
S2Proid                     int64
S2PName                    object
S2Rate                    float64
S2OrgRate                 float64
S2CashType                 object
dtype: object